n8n_booking_bot_v2.json
{
    "name": "Vazuza Booking Bot v2",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$json[\"message\"][\"text\"]}}",
                            "operation": "contains",
                            "value2": "/start"
                        },
                        {
                            "value1": "={{$json[\"message\"][\"text\"]}}",
                            "operation": "contains",
                            "value2": "Забронировать"
                        },
                        {
                            "value1": "={{$json[\"message\"][\"text\"]}}",
                            "operation": "contains",
                            "value2": "Отправить чек"
                        }
                    ]
                }
            },
            "name": "Switch Command",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
                "text": "👋 Добро пожаловать в FisherHouse!\n\nЯ помогу вам забронировать дом или принять оплату.\nВыберите действие ниже:",
                "replyMarkup": "replyKeyboard",
                "replyKeyboardOptions": {
                    "resize_keyboard": true,
                    "one_time_keyboard": false,
                    "keyboard": [
                        [
                            {
                                "text": "📅 Забронировать дом"
                            },
                            {
                                "text": "🧾 Отправить чек"
                            }
                        ],
                        [
                            {
                                "text": "📍 Как добраться"
                            },
                            {
                                "text": "📞 Связаться с администратором"
                            }
                        ]
                    ]
                }
            },
            "name": "Send Welcome",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                750,
                100
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
                "text": "Для бронирования перейдите на наш сайт и выберите удобные даты:",
                "replyMarkup": "inlineKeyboard",
                "inlineKeyboardOptions": {
                    "rows": [
                        [
                            {
                                "text": "📅 Открыть календарь",
                                "url": "https://vazuza-fisherhouse.ru/#booking"
                            }
                        ]
                    ]
                }
            },
            "name": "Send Booking Link",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                750,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
                "text": "Пожалуйста, отправьте фото чека или скриншот оплаты прямо в этот чат. Я передам его администратору."
            },
            "name": "Ask for Receipt",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                750,
                500
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{$json[\"message\"][\"photo\"] ? true : false}}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "Check for Photo",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                500,
                600
            ]
        },
        {
            "parameters": {
                "chatId": "YOUR_GROUP_CHAT_ID (e.g. -100...)",
                "text": "💰 *Новый платеж от клиента!*\n\nИмя: {{$json[\"message\"][\"from\"][\"first_name\"]}} {{$json[\"message\"][\"from\"][\"last_name\"]}}\nUsername: @{{$json[\"message\"][\"from\"][\"username\"]}}",
                "additionalFields": {
                    "parse_mode": "Markdown",
                    "appendAttribution": false
                }
            },
            "name": "Forward to Group",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                750,
                700
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "YOUR_GROUP_CHAT_ID (e.g. -100...)",
                "file": "={{$json[\"message\"][\"photo\"].pop()[\"file_id\"]}}",
                "additionalFields": {
                    "caption": "Скриншот оплаты"
                }
            },
            "name": "Forward Photo",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                950,
                700
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
                "text": "✅ Спасибо! Чек получен и отправлен администратору. Мы свяжемся с вами для подтверждения брони."
            },
            "name": "Confirm Receipt Client",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1150,
                700
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Switch Command",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Check for Photo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Command": {
            "main": [
                [
                    {
                        "node": "Send Welcome",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Booking Link",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Ask for Receipt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check for Photo": {
            "main": [
                [
                    {
                        "node": "Forward to Group",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Forward to Group": {
            "main": [
                [
                    {
                        "node": "Forward Photo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Forward Photo": {
            "main": [
                [
                    {
                        "node": "Confirm Receipt Client",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}